aiofiles
aiogram
aiohttp
aiosignal
annotated-types
async-timeout
asyncpg
attrs
certifi
charset-normalizer
environs
frozenlist
idna
magic-filter
marshmallow
multidict
packaging
pydantic
pydantic_core
python-dotenv
redis
typing_extensions
yarl
